            <!-- Footer -->
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <div class="container">
                    <footer class="mt-auto text-white-50">
                        <p>Created by <a href="https://wa.me/+25777568903" class="text-white">@samandari</a>.</p>
                        <a class="fa-instagram" href="https://www.instagram.com/sama__ndari?igsh=MWFic2todzA4aGZteg==">
                            IG
                        </a>
                    </footer>
                </div>
            </nav>
    </body>
</html>
