{% include "header.html" %}


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
  <main class="px-3">


    <h1>Bienvenue !</h1>
    <p class="lead">
        Si vous êtes nouveau, vous devez créer un compte pour pouvoir accéder à nos services sinon
        veuillez vous connecter.
    </p>
    <p class="lead">
      <a href="{{ url_for('register') }}" class="btn btn-light fw-bold border-white bg-white">Créer Compte</a>
    </p>
    <p class="lead">
      <a href="{{ url_for('login') }}" class="btn btn-warning fw-bold border-white">Se Connecter</a>
    </p>
  </main>
</div>



{% include "footer.html" %}