{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>A propos de nous</h1>
            <span class="subheading">Voici nos oeuvres.</span>
            {% if not current_user.is_authenticated %}
              <h5>Vous pouvez vous connecter ou créer un compte pour voir vos informations</h5>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    {% if current_user.is_authenticated and current_user.id > 1 %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Vos Informations</h3>
        <p>   Votre Pseudo: {{current_user.name}} </p>
        <p>
          <a class="btn border-white btn-sm bg-danger btn-dark" href="{{url_for('delete_user', user_id=current_user.id) }}">Supprimer compte</a>
          <a class="btn border-white btn-sm bg-gray btn-dark" href="{{url_for('edit_user', user_id=current_user.id) }}">Modifier compte</a>

        </p>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Nous sommes ravis de vous présenter notre plateforme d'échange anonyme TUGANIRE. Voici comment elle fonctionne
          en quelques mots : <br><br>

          <strong>Soumission du Sujet :</strong> La personne introduisant le thème de discussion créera une publication.
          En tant que commentateurs, il vous suffira de cliquer sur cette publication pour partager vos avis de manière
          anonyme à l'aide des pseudonymes que vous aurez choisis en accédant à la plateforme. <br>

          <strong>Participation Anonyme :</strong> Exprimez-vous librement en toute discrétion grâce à votre pseudonyme.
          Votre identité restera confidentielle. <br>

          <strong>Interaction Continue :</strong> N'oubliez pas de rafraîchir la page pour suivre les commentaires des
          autres participants. Votre contribution est précieuse pour enrichir les échanges.

          Nous vous remercions pour votre participation active !

        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}